<div class="row">
    <div class="mx-auto col-lg-6">
        <div class="card">

            <div class="card-body">
                <h2 style="font-weight: bold; margin-bottom: 2rem;">Add Idea</h2>
                <form action="/ideas/add-ideas" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea name="details" class="form-control" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Add </button>
                </form>


            </div>
        </div>
    </div>
</div>