<div class="row">
    <div class="mx-auto col-lg-6">
        <div class="card">
            <div class="card-body">
            <h2 style="font-weight: bold; margin-bottom: 2rem;">Edit Idea</h2>

                <form action="/ideas/edit-ideas/{{idea._id}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" value="{{idea.title}}" class="form-control" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea name="details" class="form-control" required>{{idea.details}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block"> Update </button>
                </form>


            </div>
        </div>
    </div>
</div>