<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header bg-light"><h5>Account Login</h5></div>
            <div class="card-body">
                <form action="/users/login" method='POST'>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i> Email </label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fas fa-key"></i> Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>

                    <button class="btn btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>